body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	margin: 0;
	padding: 0;
}
.main-container-wrapper{
	background: #F7F7F7;
	width: 100%;
}
.main-container{
	background: #ffffff;
	width: 80%;
	margin: auto;
}
.container{
	padding: 10px 30px;
    display: flex;
	justify-content: space-between;

}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.background {
	background: #2650AD;
	background-size: cover;
	background-blend-mode: darken;

}




.nav-list {
	width: 70%;
	display: flex;
	align-items: center;
}


.nav-list li {
	list-style: none;
	padding: 20px 20px;
}

.nav-list li a {
  font-size: 20px;
  text-decoration: none;
	color: white;
}

.link {
	font-size: 20px;
	text-decoration: none;
	  color: white;
  }
.nav-list li a:hover {
	color: grey;
}

.secondHalf {
	margin: 20px 60px;
	display: flex;
}

	
.leftNav-icon{
	display: flex;
	width: 50%;
	margin: 20px 40px;
	padding: 10px;
}

.leftNav-icon p{
	padding: 0 10px;
}

.rightNav-icon {
	display: flex;
	width: 50%;
	margin: 20px 40px;
	padding: 10px;

}

.rightNav-icon p{
	padding: 0 10px;
}

.social-media-icons a{
	display: inline;
	font-size: 2rem;
	text-decoration: none;
	padding: 4px 10px;
}

.full-width{
	width: 100%;
	height: 600px;
}


.images{
	display: flex;
	margin: 30px 40px;
	 justify-content: space-evenly;
	

}

.text-big {
	font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
}

.text-small {
	font-size: 18px;
}





.center {
	text-align: center;
}

.contact{
	padding: 30px 8px;
	max-width: 100%;
	background-color: #CDDAE5;
}

#form{
	box-sizing: border-box;
	text-align: center;
}

.form-div{
	width: 50%;
	margin: 10px auto;
}
.form-item{
	width: 100%;
	display: flex;
}
.input-text{
	width: 35%;
	text-align: left;
	padding-top: 10px;
}
.form-input{
	margin: 8px 0;
	padding: 7px 20px;
	width: 75%;
    font-size: 18px;
    border: 1px solid #707070;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
	padding: 12px 24px;
	border-radius: 4px;
    background: #2650AD;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
	border: none;
}

.btn-move{
	margin-left: 30%;
	margin-top: 8px;
}

.about-content{
font-size: 20px;
font-weight: 400;
line-height: 20px;
font-style: normal;
text-align: center;
color: #000000;
margin: 47px 115px;
}

.footer {
	font-size: 18px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: black;
	margin: 20px auto;
}
